@import '../../global.scss';

.portfolio {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  
  &:before {
    content: '';
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 350px;
    height: 300px;
    opacity: 0.7;
    background-color: $mainColor;
    background: linear-gradient(
      70deg,
      rgb(145, 174, 255) 0%,
      #516beb 0%,
      rgb(152, 205, 255) 100%
    );
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    @include mobile {
      bottom:30%;
      width: 150px;
      height: 150px;
    }
  }

  h1 {
    font-size: 50px;
    font-size: 50px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    letter-spacing: 3px;
    -webkit-text-stroke-color: black;
    transform: skew(-5deg);
    &:before {
      content:'';
      position: absolute;
      bottom: 0%;
      left: 0;
      width: 80%;
      height: 2px;
      color: $mainColor;
      background-color:black;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;

    @include mobile {
      width: 100%;
    }

    .item {
      width: 270px;
      height: 180px;
      border-radius: 20px;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      overflow: hidden;
      cursor: pointer;
      box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.5),
        inset -12px 12px 5px 0px rgba(255, 255, 255, 0.5),
        inset 12px -12px 5px 0px rgba(255, 255, 255, 0.5);

      @include mobile {
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
